<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    {{>headbar}}
    <h1>Jalpaiguri Government Engineering College</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quo corrupti, vitae et animi dolorem dicta magni porro maiores voluptatum ex iste atque soluta iure culpa fuga blanditiis impedit hic?</p>
</body>
</html>