<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{>headbar}}
    <div class="main">
        <form action="/register" method="POST" enctype="multipart/form-data">
            <input type="text" name="name" id="name" placeholder="Enter your name">
            <input type="number" name="roll" id="roll" placeholder="Enter your Roll no.">
            <select name="dept" id="dept">
                <option value="cse">Computer Science And Engineering</option>
                <option value="it">Information Technology</option>
                <option value="ece">Electronic And Communication Engineering</option>
                <option value="ee">Electrical Engineering</option>
                <option value="me">Mechanical Engineering</option>
                <option value="ce">Civil Engineering</option>
            </select>
            <input type="radio" name="gender" id="gender" value="male"> Male <input type="radio" name="gender" id="gender" value="female"> Female <input type="radio" name="gender" id="gender" value="transgender"> Transgender
            <input type="email" name="email" id="email" placeholder="Enter your Email id">
            <input type="number" name="phone" id="phone" placeholder="Enter your personal Mobile Number">
            <input type="password" name="password" id="password" placeholder="Enter a password">
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <input type="file" name="file" id="img">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
</html>