<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <nav class="headbar">
        <div class="logo">
            <span id="sitename">JGEC</span>
        </div>
        <div class="pages">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/register">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>